<div class="container">
    <form role="form">
        <div class="form-group">
            <label>Enter Title</label>
            <input class="form-control" id="txtTitle" type="text" ng-model="model.title" /><br />
        </div>
        <div class="form-group">
            <label>Enter Description</label>
            <input class="form-control" id="txtDesc" type="text" ng-model="model.description" /><br />
        </div>
        <button class="btn btn-primary" type="submit" ng-click="onAddButtonClick(model)">Submit</button>
    </form>
</div>