<div class="container-fluid">
    <form role="form">
        <h4>Creating child for task: <span ng-bind="model.title" /></h4>
        <div class="form-group">
            <input class="form-control" id="txtTitle" type="text" placeholder="Enter Title" ng-model="child.title" blur="submitToggle" />
        </div>
        <div class="form-group">
            <input class="form-control" id="txtDesc" type="text" placeholder="Enter Description" ng-model="child.description" blur="submitToggle" />
        </div>
        <button class="btn btn-primary" type="submit" ng-click="createChildTask(model.id, child)">Submit</button>
    </form>
</div>